#  Python for Machine Learning Series

This tutorial marks the beginning of a series focused on introducing programming concepts through practical, code-driven lessons using the Python language. Emphasizing a hands-on approach, learners are encouraged to actively engage with the material by executing code and experimenting with examples for an effective learning experience.

In [1]:
import pandas as pd
df = pd.read_csv("Students.csv")
df.iloc[:,2:]

,Name,Age,Grade,GPA,Graduated,Enrollment Date,Email,Phone Number,Country
0,Amit Kumar,21,D,2.50,False,2021-10-07,amit@example.com,254803,India
1,Rajesh Singh,20,B,3.20,True,2022-10-25,rajesh@example.com,257067,India
2,Sunil Joshi,23,D,3.16,True,2021-08-03,sunil@example.com,251665,India
3,Bob Brown,23,C,3.12,True,2020-12-08,bob@example.com,252291,US
4,Anjali Mehta,19,A,3.76,True,2022-11-18,anjali@example.com,257167,India
5,Akiko Yoshida,19,A,3.21,False,2022-11-24,akiko@example.com,251188,Japan
6,Yuki Watanabe,21,F,3.50,True,2020-12-10,yuki@example.com,254920,Japan
7,Alice Johnson,25,F,3.50,True,2022-09-13,alice@example.com,254530,US
8,Meera Patel,24,C,2.54,True,2022-02-07,meera@example.com,257987,India
9,Vikram Choudhary,22,D,3.01,True,2020-06-16,vikram@example.com,256150,India
10,Carol Davis,25,C,3.29,True,2020-07-27,carol@example.com,251637,US
11,Sita Devi,18,F,3.22,False,2021-05-13,sita@example.com,256652,India
12,Hank Lee,19,D,2.17,True,2021-05-16,hank@example.com,256076,US
13,Frank Moore,20,F,3.46,True,2020-09-27,frank@example.com,251574,US
14,Miyu Yamamoto,25,C,3.50,False,2022-11-17,miyu@example.com,255395,Japan
15,Eve Wilson,19,F,2.70,False,2020-11-23,eve@example.com,251102,US
16,Hanako Suzuki,22,A,2.99,True,2021-09-25,hanako@example.com,257222,Japan
17,Rina Kato,25,D,2.07,False,2022-02-15,rina@example.com,253994,Japan
18,Satoshi Sato,22,B,3.41,True,2021-01-12,satoshi@example.com,256752,Japan
19,John Doe,18,F,2.87,False,2020-10-06,john@example.com,251511,US
20,Pooja Sharma,24,A,2.12,True,2021-02-09,pooja@example.com,254858,India
21,Neha Verma,24,C,3.67,True,2020-03-15,neha@example.com,254415,India
22,Taro Yamada,18,F,2.73,True,2022-08-25,taro@example.com,254923,Japan
23,Koji Nakamura,22,F,3.85,False,2021-03-07,koji@example.com,259560,Japan
24,Hiroshi Ito,24,C,3.07,False,2020-12-17,hiroshi@example.com,256051,Japan
25,Jane Smith,25,F,2.76,True,2020-08-01,jane@example.com,256436,US
26,Kenta Tanaka,23,F,2.65,True,2022-11-11,kenta@example.com,256600,Japan
27,Dave Miller,18,C,2.25,True,2020-01-16,dave@example.com,252794,US
28,Anil Gupta,19,C,3.02,False,2022-03-19,anil@example.com,255333,India
29,Grace Taylor,19,F,2.84,False,2021-12-25,grace@example.com,256470,US

What is OOP with Student Data?
Imagine you have a school with many students. Each student has information like their name, age, grade, GPA, whether they graduated, enrollment date, email, phone number, and country. Instead of writing all this information over and over again for each student, we can create a blueprint (a class) for a student and then create students (objects) using this blueprint.

# Creating a Student Class (Blueprint)
**We'll create a class called Student. This class will have everything we need to know about a student.**

In [39]:
# Task Welcome the student with Student name
def generate_greet(name):
    print(f"Welcome {name}")
generate_greet("Alice")

Welcome Alice

In [7]:
# Task : Lets say I want to change the phone number of a student and display old and new phone number


def display_info(name, phone_number):
    print(f"Name: {name}")
    print(f"Phone Number: {phone_number}")


def update_phone(name,new_phone_number):
    phone_number = new_phone_number
    print(f"Phone number  updated to: {phone_number}")
    return name, new_phone_number

# Using the functions
name, phone_number = "Amit Kumar", 254803
display_info(name, phone_number)

name,new_phone_number = update_phone(name, new_phone_number = 99999)
display_info(name, new_phone_number)

Name: Amit Kumar
Phone Number: 254803
Phone number  updated to: 99999
Name: Amit Kumar
Phone Number: 99999

In [8]:
# This is for student Amit Kumar

# If I want to change phone number of "Bob Brown" then?
# Using the functions
name, phone_number = "Bob Brown", 254203
display_info(name, phone_number)

name,new_phone_number = update_phone(name, new_phone_number = 88888)
display_info(name, new_phone_number)

Name: Bob Brown
Phone Number: 254203
Phone number  updated to: 88888
Name: Bob Brown
Phone Number: 88888

In [9]:
# Now lets say I want to update gpa, graduation status from False to True and age from 21 to 22
# Then everytime I need to write all these functions and call them for each student

In [ ]:
# Simple way is to create a student (e.g Alice) once and then change whatever you want to change.
# How to do that?
# CLASS

In [46]:
class Student:
    def __init__(self,name):
        self.name = name   
    def generate_greet(self):
        print(f"Welcome {self.name}")

In [47]:
alice = Student("Alice")
alice.generate_greet()

Welcome Alice

In [22]:
class Student:
    def __init__(self,name,age,phone_number,graduation_status):
        self.name = name
        self.age = age
        self.phone_number = phone_number
        self.graduation_status = graduation_status
        
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Phone Number: {self.phone_number}")
    
    def generate_greet(self):
        print(f"Welcome {self.name}")

# See the magic
alice = Student(name= "Alice", age = 20, phone_number = 256456, graduation_status = False)
bob = Student(name= "Bob", age = 21, phone_number = 256123, graduation_status = False)

# 2 Things --> Attributes and methods
This is the initializer that you can later use to instantiate objects. It's similar to a constructor in Java. __init__ must always be present! It takes one argument: self, which refers to the object itself.

In [24]:
alice.generate_greet()
alice.display_info()

Welcome Alice
Name: Alice
Phone Number: 256456

In [25]:
bob.generate_greet()
bob.display_info()

Welcome Bob
Name: Bob
Phone Number: 256123

In [29]:
class Student:
    def __init__(self,name,age,phone_number,graduation_status):
        self.name = name
        self.age = age
        self.phone_number = phone_number
        self.graduation_status = graduation_status
        
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Phone Number: {self.phone_number}")
    
    def generate_greet(self):
        print(f"Welcome {self.name}")
        
    def update_phone(self, new_phone_number):
        phone_number = new_phone_number
        print(f"Phone number  updated to: {phone_number}")
       

# See the magic
alice = Student(name= "Alice", age = 20, phone_number = 256456, graduation_status = False)
bob = Student(name= "Bob", age = 21, phone_number = 256123, graduation_status = False)

In [30]:
alice.generate_greet()
alice.display_info()
alice.update_phone(999999)

Welcome Alice
Name: Alice
Phone Number: 256456
Phone number  updated to: 999999

In [32]:
bob.generate_greet()
bob.display_info()
bob.update_phone(888888)

Welcome Bob
Name: Bob
Phone Number: 256123
Phone number  updated to: 888888

In [33]:
# Practice 
class Car:
    def __init__(self, color, speed, brand):
        self.color = color
        self.speed = speed
        self.brand = brand
    
    def drive(self):
        print(f"The {self.color} car is driving at {self.speed} speed.")
    
    def stop(self):
        print(f"The {self.color} car has stopped.")
    
    def honk(self):
        print("Beep beep!")

In [34]:
car1 = Car("red", 60, "Toyota")
car2 = Car("blue", 80, "Ford")

car1.drive()  # The red car is driving at 60 speed.
car2.honk()   # Beep beep!
car1.stop()   # The red car has stopped.

The red car is driving at 60 speed.
Beep beep!
The red car has stopped.

In [36]:
class Dog:

    def __init__(self, name, age):  
        self.name = name
        self.age = age

    def bark(self):
        print("bark bark!")

In [37]:
dog = Dog("Tommy",3)

In [38]:
dog.bark()

bark bark!