#  Python for Machine Learning Series

This tutorial marks the beginning of a series focused on introducing programming concepts through practical, code-driven lessons using the Python language. Emphasizing a hands-on approach, learners are encouraged to actively engage with the material by executing code and experimenting with examples for an effective learning experience.

In [38]:
import pandas as pd
df = pd.read_csv("Students.csv")
df.iloc[:,2:]

,Name,Age,Grade,GPA,Graduated,Enrollment Date,Email,Phone Number,Country
0,Amit Kumar,21,D,2.50,False,2021-10-07,amit@example.com,254803,India
1,Rajesh Singh,20,B,3.20,True,2022-10-25,rajesh@example.com,257067,India
2,Sunil Joshi,23,D,3.16,True,2021-08-03,sunil@example.com,251665,India
3,Bob Brown,23,C,3.12,True,2020-12-08,bob@example.com,252291,US
4,Anjali Mehta,19,A,3.76,True,2022-11-18,anjali@example.com,257167,India
5,Akiko Yoshida,19,A,3.21,False,2022-11-24,akiko@example.com,251188,Japan
6,Yuki Watanabe,21,F,3.50,True,2020-12-10,yuki@example.com,254920,Japan
7,Alice Johnson,25,F,3.50,True,2022-09-13,alice@example.com,254530,US
8,Meera Patel,24,C,2.54,True,2022-02-07,meera@example.com,257987,India
9,Vikram Choudhary,22,D,3.01,True,2020-06-16,vikram@example.com,256150,India
10,Carol Davis,25,C,3.29,True,2020-07-27,carol@example.com,251637,US
11,Sita Devi,18,F,3.22,False,2021-05-13,sita@example.com,256652,India
12,Hank Lee,19,D,2.17,True,2021-05-16,hank@example.com,256076,US
13,Frank Moore,20,F,3.46,True,2020-09-27,frank@example.com,251574,US
14,Miyu Yamamoto,25,C,3.50,False,2022-11-17,miyu@example.com,255395,Japan
15,Eve Wilson,19,F,2.70,False,2020-11-23,eve@example.com,251102,US
16,Hanako Suzuki,22,A,2.99,True,2021-09-25,hanako@example.com,257222,Japan
17,Rina Kato,25,D,2.07,False,2022-02-15,rina@example.com,253994,Japan
18,Satoshi Sato,22,B,3.41,True,2021-01-12,satoshi@example.com,256752,Japan
19,John Doe,18,F,2.87,False,2020-10-06,john@example.com,251511,US
20,Pooja Sharma,24,A,2.12,True,2021-02-09,pooja@example.com,254858,India
21,Neha Verma,24,C,3.67,True,2020-03-15,neha@example.com,254415,India
22,Taro Yamada,18,F,2.73,True,2022-08-25,taro@example.com,254923,Japan
23,Koji Nakamura,22,F,3.85,False,2021-03-07,koji@example.com,259560,Japan
24,Hiroshi Ito,24,C,3.07,False,2020-12-17,hiroshi@example.com,256051,Japan
25,Jane Smith,25,F,2.76,True,2020-08-01,jane@example.com,256436,US
26,Kenta Tanaka,23,F,2.65,True,2022-11-11,kenta@example.com,256600,Japan
27,Dave Miller,18,C,2.25,True,2020-01-16,dave@example.com,252794,US
28,Anil Gupta,19,C,3.02,False,2022-03-19,anil@example.com,255333,India
29,Grace Taylor,19,F,2.84,False,2021-12-25,grace@example.com,256470,US

In [39]:
# You are designing a website where you first greet the user with "Hello Welcome" and tel them about AI.
# How can you do that in program?
# You can write print(f"Hello Welcome") every time
# What if there is method to do this once and use again and again
# Functions are useful in this

Functions
Defining a Function
Declaring and Calling a Function
Function without Parameters
Function Returning a Value - Part 1
Function with Parameters
Passing Arguments with Key and Value
Function Returning a Value - Part 2
Function with Default Parameters
Arbitrary Number of Arguments
Default and Arbitrary Number of Parameters in Functions
Function as a Parameter of Another Function

**Defining a Function** : 
A function is a reusable block of code or programming statements designed to perform a certain task. To define or declare a function, Python provides the def keyword.

Declaring and Calling a Function
When we make a function, we call it declaring a function. When we start using the it, we call it calling or invoking a function. Function can be declared with or without parameters.

In [ ]:
# syntax
# Declaring a function
def function_name():
    codes
    codes
# Calling a function
function_name()

In [ ]:
Function without Parameters
Function can be declared without parameters.

In [43]:
### 1. Function without Parameters:
def greet():
    print("Hello, Welcome!\nArtificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.")

# Calling the function
greet()

Hello, Welcome!
Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.

In [3]:
### 1. Function without Parameters:
def full_name ():
    first_name = "Alice"
    last_name = "Brown"
    full_name = first_name + " " + last_name
    print(full_name)
full_name()

Alice Brown

In [ ]:
#### Example 1: Greetings Function with Custom Greeting
This function generates and prints a customized greeting message.

```python
def generate_greeting():
    name = input("Enter your name: ")
    greeting = "Hello, " + name + "!"
    print(greeting)

# Calling the function
generate_greeting()

In [24]:


#### Example 2: Product Price Calculator
# This function calculates and prints the total price of a product based on its price and quantity.

# ```python
def calculate_product_price():
    product_name = input("Enter product name: ")
    price_per_unit = float(input("Enter price per unit: "))
    quantity = int(input("Enter quantity: "))
    total_price = price_per_unit * quantity
    print(f"The total price for {quantity} units of {product_name} is ${total_price:.2f}")

# Calling the function
calculate_product_price()

Enter product name: Jam
Enter price per unit: 20
Enter quantity: 2
The total price for 2 units of Jam is $40.00

In [ ]:

### 2. Function Returning a Value - Part 1 (Continuation):

#### Example 1: Get Full Name as a Variable
Extending the `generate_full_name()` function to return the full name as a variable.

```python
def generate_full_name():
    first_name = 'Alice'
    last_name = 'Brown'
    full_name = first_name + " " + last_name
    return full_name

# Calling the function and storing the result in a variable
my_name = generate_full_name()
print("My full name is:", my_name)
```

In [ ]:
#### Example 2: Calculate Total Price and Return
Extending the product price calculator to return the total price instead of printing it directly.

```python
def calculate_product_price():
    product_name = input("Enter product name: ")
    price_per_unit = float(input("Enter price per unit: "))
    quantity = int(input("Enter quantity: "))
    total_price = price_per_unit * quantity
    return total_price

# Calling the function and storing the result in a variable
total_cost = calculate_product_price()
print("The total cost is:", total_cost)
```

In these examples, the second set extends the functionality of the first set by returning values instead of printing directly, providing more flexibility in how the result is used.

In [7]:
# Function with Parameters
def generate_greeting(name, time_of_day):
    greeting = f"Good {time_of_day}, {name}!"
    return(greeting)
    
    
# Passing Arguments with Key and Value
# Calling the function with keyword arguments ***
generate_greeting(name="Bob", time_of_day="morning")

'Good morning, Bob!'

In [8]:
# Function with Parameters
def generate_greeting(name, time_of_day):
    greeting = f"Good {time_of_day}, {name}!"
    return (greeting)

# Calling the function with keyword arguments ***
generate_greeting("Bob", "morning")

'Good morning, Bob!'

In [27]:
# Function with Default Parameters

def greet_user(name, greeting="Hello"):
    return (f"{greeting}, {name}!")

# Calling the function without the default parameter
greet_user("Alice")
# Calling the function with the default parameter
greet_user("Bob", "Hi")

'Hi, Bob!'

In [21]:
# Arbitrary Number of Arguments
def generate_greeting(*students):

    return "Welcome :", *students

# Calling the function with different numbers of arguments
generate_greeting("Alice")

('Welcome :', 'Alice')

In [17]:
generate_greeting("Alice","Amit","Bob")

('Welcome :', 'Alice', 'Amit', 'Bob')

In [ ]:
# Function inside a function

In [30]:
def generate_greeting():
    print("Welcome to our Supermarket")

In [31]:
def calculate_product_price():
    generate_greeting()
    product_name = input("Enter product name: ")
    price_per_unit = float(input("Enter price per unit: "))
    quantity = int(input("Enter quantity: "))
    total_price = price_per_unit * quantity
    print(f"The total price for {quantity} units of {product_name} is ${total_price:.2f}")

# Calling the function
calculate_product_price()

Welcome to our Supermarket
Enter product name: jam
Enter price per unit: 20
Enter quantity: 5
The total price for 5 units of jam is $100.00

In [32]:
def addition(a,b):
    return a + b
def sub(a,b):
    return a - b
def mul(a,b):
    return a * b
def div(a,b):
    return a/b

In [33]:
def calculator(a,b, operation):
    if operation == "add":
        print("Answer is", addition(a,b))
    elif operation == "sub":
        print("Answer is", sub(a,b))
    elif operation == "mul":
        print("Answer is", mul(a,b))
    elif operation == "div":
        print("Answer is", div(a,b))

In [34]:
calculator(50,50,"add")

Answer is 100

In [37]:
def calculator():
    print("Welcome to Calculator App")
    a = int(input("Enter first number : "))
    b = int(input("Enter second number : "))
    print("Choose one operation : add, sub,mul,div")
    operation = input("Enter Operation name : ")
    if operation == "add":
        print("Answer is", addition(a,b))
    elif operation == "sub":
        print("Answer is", sub(a,b))
    elif operation == "mul":
        print("Answer is", mul(a,b))
    elif operation == "div":
        print("Answer is", div(a,b))
calculator()

Welcome to Calculator App
Enter first number : 64
Enter second number : 64
Choose one operation : add, sub,mul,div
Enter Operation name : mul
Answer is 4096